@model IEnumerable<AppData.Book>

@{
    ViewData["Title"] = "Danh sách";
}

<h1>Danh sách</h1>

<table class="table table-bordered table-primary">
    <thead class="table-primary">
        <tr>
            <th>
                Mã sách
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Giá tiền
            </th>
            <th>
                Số lượng còn lại
            </th>
            <th>
                Trạng thái
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody class="table-hover">
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.BookID)
            </td>
            <td>
                @(item.Title)
            </td>
            <td>
                @(item.Author)
            </td>
            <td>
                @(item.Price)
            </td>
            <td>
                @(item.Amount)
            </td>
            <td>
                @(item.Status == 1 ? "Còn hàng" : "Hết hàng")
            </td>
            <td>
                    <a asp-action="Details" asp-route-ID="@item.BookID" class="btn btn-secondary">Chi tiết</a>
                    @if (ViewData["Username"] != null)
                    {
                        <a asp-route-ID="@item.BookID" asp-route-QuantityGet="1" value="Add2Cart" class="btn btn-primary">Cho vào giỏ</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
